/*UNIVERSALS*/

@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:900|Raleway:400,700');


h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}




.lobster-text{
  font-family: 'lobster', cursive;
}

.orange-text{
  color: #cd2027;
}

.white-text{
  color: white;
}

.raleway-text{
  font-family: 'Raleyway', sans-serif;
}


.light-text{
  font-weight: 400;
}

/**/


/*NAVBAR SECTION*/

#nav-white{
  background-color: white;
  height: 120px;
  padding-top: 10px;

}
.navbar-default{
  background-color: transparent;
  border: none;
}

.nav li a{
  background-color: #136734;
  border-radius: 5px;
  margin: 6px;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #136734;
  color: #fff;
  border-radius: 5px;
}

.navbar-default .navbar-nav>li>a{
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #fff;
  background-color: #CD2027;
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
  border-radius: 5px;
}

#nav-logo{
  height: 80px;
}


/*CAROUSEL SECTION*/

.carousel{
  margin-top: 140px;
}

.item{
  height: 450px;
  background-position: center;
  background-size: cover;
}

.crsl-logo{
  height: 150px;
}

.crsl-label{
  height: 110px;
}
#c1-tacos{
  background-image: url('../img/c1-tacos.jpg');
  padding-top: 15%;
}



#c2-restaurant{
  background-image: url('../img/c2-restaurant.jpg');
}

#c3-menu{
  background-image: url('../img/c3-menu.jpg');
}

#slide-4-back{
  background-image: url('../img/cactus.jpg');
}




.carousel-caption{
  padding-bottom: 110px;
}

.carousel-caption h3{
  font-size: 36px;
}

.carousel-caption p{
  font-size: 18px;
}

.btn-default{
  color: white;
  background-color: #136734;
  border: none;
}

.btn-default:hover{
  background-color: #0A361B;
  color: white;
}

/*ALWAYS SECTION*/

#always{
  height: 250px;
  margin-top: 20px;
  margin-bottom: 100px;
}

#always img{
  width: 90%;
}




/*OUR STORY*/


#our-story{
  background-image: url('../img/mex-ayer.jpg');
  height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 75px;
  margin-bottom: 175px;
}

#story-label{
  height: 125px;
}


#story-text{
    background-color: rgba(0, 0, 0, .5);
    margin-top: 163px;
    padding: 10px 0px;
    text-shadow: 1px 1px #000;
    border-radius: 5px;
}

#story-text p{
  font-size: 22px;
}


#our-story p{
  margin-left: 18px;
}




/*MENU NAVIGATION CATEGORIES*/


#menu-label{
  width: 300px;
  margin-top: 50px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, #menu-section ul>li>a{
  color: darkgrey;
  text-transform: uppercase;
}




.nav-tabs>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover{
  background-color: rgba(0, 0, 0, .25);
  border: none;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
  border: none;
}
ul{
  border: none;
}

/*MENU FOOD ITEMS*/

#menu-section{
  background-image: url('../img/logo-repeat.png');
  background-repeat: repeat;
  height:800px;
}

.food-item{
  background-color: white;
  padding: 20px;
}
#menu-section h1{
  font-size: 61px;
}
